body {
    font-family: Quicksand, sans-serif !important;
  }

  .back-top.back-top-show {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  .back-top {
    cursor: pointer;
    position: fixed !important;
    bottom: 40px;
    right: 40px;
    display: block;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: var(--bs-primary);
    color: #fff;
    border-radius: 10%;
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
  }

  a:link {
    text-decoration: none;
  }